grant { 
	permission java.util.PropertyPermission "user.home", "read";
	permission java.util.PropertyPermission "user.name", "read";
	permission java.util.PropertyPermission "user.dir", "read";
};

grant { 
	permission java.io.FilePermission "<<ALL FILES>>", "read,execute,delete";
	permission java.io.FilePermission "/usr/share/fonts/-", "read,write,delete";
	permission java.io.FilePermission "${user.home}/-", "write";

	permission java.awt.AWTPermission "setWindowAlwaysOnTop";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.font";
};

